body {
    width:100%;
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
.content{
    margin: auto;
    width: 60%;

}

.actionsProducts:focus{
    outline: none;
}

.actionsProducts:hover{
    cursor: pointer;

}
.addProducts{
    color: red
}

.removeProductLight{
    color: #1A237E;
}
.removeProductLight:hover{
    color: #303F9F;
}
.removeProductDark{
    color:#303F9F;
}
.removeProductDark:hover{
    color: #1A237E;
}
.removeProduct:hover{
    color: #3F51B5
}
#product.ng-invalid {
    background-color: lightblue;
}

.listCont {
    margin: auto;
    text-align: center;
}

.listCont>#textQuantity {
    font-size: 24px
}

.imgAlterQuantity:hover {
    cursor: pointer;
    background-color: #F0A3BA;
    border-radius: 2px;
}

.imgAlterQuantity:focus {
    outline: none;
}

.allProducts {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th {
    border-radius: 1px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    height: 100px;
}

.allProducts>tbody>tr {

    border-radius: 1px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.allProducts>tbody>tr>td {
    padding: 2px;
}

.box {
    margin-top: 15px
}